body {
  width: 1200px;
  font-family: "Roboto1";
  color: rgb(50, 50, 50);
  margin: 0;
}

.buttom {
  margin-right: 100px;
  margin-top: -15px;
  font-size: 12px;
  text-align: right;
  color: rgb(163, 163, 163);
}

.conte {
  margin-right: 5px;
  margin-left: 100px;
  color: rgb(163, 163, 163);
  font-size: 12px;
  margin-top: 30px;
}

.first1 {
  text-align: left;
}

.first2 {
  color: rgb(163, 163, 163);
  text-decoration: none;
  background-position: center;
}

.first2:hover {
  text-decoration: underline;
}

.first3 {
  color: rgb(163, 163, 163);
  text-decoration: none;
  padding-left: 20px;
  text-align: center;
}

.first3:hover {
  text-decoration: underline;
}

h1 {
  font-family: "Roboto2";
  padding-left: 100px;
  padding-right: 100px;
  margin: 0;
  text-align: center;
  font-size: 100px;
}

.menu {
  line-height: 40px;
  font-size: 20px;
  text-decoration: none;
  height: 40px;
  border-radius: 8px;
  background-color: rgb(50, 50, 50);
  margin: auto;
  width: 86%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.main1 {
  color: rgb(181, 181, 181);
  text-decoration: none;
  padding-left: 25px;
  transition: 1s;
}

.main1:hover {
  color: rgb(255, 255, 255);
  transition: .2s;
}

.main2 {
  color: rgb(181, 181, 181);
  text-decoration: none;
  padding-left: 25px;
  transition: 1s;
}

.main2:hover {
  color: rgb(255, 255, 255);
  transition: .2s;
}

.main3 {
  color: rgb(181, 181, 181);
  text-decoration: none;
  padding-left: 25px;
  transition: 1s;
}

.main3:hover {
  color: rgb(255, 255, 255);
  transition: .2s;
}

.main4 {
  color: rgb(181, 181, 181);
  text-decoration: none;
  padding-left: 25px;
  transition: 1s;
}

.main4:hover {
  color: rgb(255, 255, 255);
  transition: .2s;
}

.main5 {
  color: rgb(181, 181, 181);
  text-decoration: none;
  padding-left: 25px;
  transition: 1s;
}

.main5:hover {
  color: rgb(255, 255, 255);
  transition: .2s;
}

.main6 {
  color: rgb(181, 181, 181);
  text-decoration: none;
  padding-left: 25px;
  padding-right: 25px;
  transition: 1s;
}

.main6:hover {
  color: rgb(255, 255, 255);
  transition: .2s;
}

.title {
  font-size: 60px;
  margin: 0;
  margin-left: 100px;
}

.title2 {
  margin-left: 100px;
  font-size: 25px;
}

.title3 {
  height: 200px;
  line-height: 200px;
  text-align: center;
  margin: 0;
  margin-top: 0px;
  background-color: rgb(50, 50, 50);
  color: rgb(181, 181, 181);
}

.big_img {
  height: 364px;
  width: 1200px;
  display: flex;
  justify-content: space-evenly
}

.img-picture1 {
  padding-inline-start: 0;
  margin-block-start: 0;
}

.smal_img {
  margin: 0;
  padding: 0;
  height: 200px;
  width: 1200px;
  display: block;
}

.img4 {
  display: flex;
  justify-content: space-evenly;
  margin: 0;
  padding: 0;
  padding-inline-start: 0;
  margin-block-start: 0;
}

.conteiner {
  /* margin-top: 0; */
  margin-left: 846px;
  max-width: 350px;
  height: 200px;
  border: 1px solid rgb(181, 181, 181);
}

.conteiner2 {
  margin-top: 22px;
  margin-left: 846px;
  max-width: 350px;
  height: 400px;
  border: 1px solid rgb(181, 181, 181);
}

.conterner3 {
  margin-bottom: 40px;
  margin-left: 2px;
  margin-top: -625px;
  border: 1px solid rgb(181, 181, 181);
  width: 810px;
  height: 629px;
}

.web {
  margin-top: 40px;
  padding: 0;
  justify-content: space-around;
  list-style-type: none;
  display: flex;
  flex-wrap: nowrap;
  height: 45px;
}

.line {
  border-bottom: 1px black;
}

.inst {
  max-width: 43px;
  display: block;
  max-width: 33.333333%;
  align-items: center;
}

.fes {
  max-width: 43px;
  display: block;
  max-width: 33.333333%;
}

.twit {
  max-width: 43px;
  display: block;
  max-width: 33.333333%;
}

.sec {
  padding: 0;
  display: flex;
  list-style-type: none;
}

.sec_face {
  margin-left: 25px;
  color: rgb(181, 181, 181);
  text-decoration: none;
}

.sec_inst {
  margin-left: 45px;
  color: rgb(181, 181, 181);
  text-decoration: none;
}

.sec_twit {
  margin-left: 54px;
  color: rgb(181, 181, 181);
  text-decoration: none;
}

.line {
  margin-top: -3px;
  margin-left: 174px;
  border-bottom: 2px solid rgb(181, 181, 181);
  width: 151px;
}

.line2 {
  padding-top: 9px;
  padding-bottom: 9px;
  margin: 0;
  flex-wrap: wrap;
  margin-left: 25px;
  border-bottom: 4px solid black;
  width: 149px;
  font-size: 21px;
}

.line3 {
  padding-top: 9px;
  padding-bottom: 9px;
  display: flex;
  font-size: 21px;
  margin-left: 25px;
  border-bottom: 4px solid black;
  width: 137px;
}

.line4 {
  margin-top: -3px;
  margin-left: 162px;
  width: 163px;
  border-bottom: 2px solid rgb(181, 181, 181);
}

.user_first {
  margin-top: -12px;
  display: flex;
}

.user_icon {
  height: 350px;
  padding-inline-start: 20px;
  max-width: 67px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.user1 {
  margin-top: 10px;
}

.user-name {
  margin-top: -338px;
  margin-left: 55px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.Wanderer {
  text-align: start;
  color: rgb(181, 181, 181);
}

.Photographer {
  margin-top: 45px;
  text-align: start;
  color: rgb(181, 181, 181);
}

.Designer {
  margin-top: 49px;
  text-align: start;
  color: rgb(181, 181, 181);
}

.App_Developer {
  margin-top: 49px;
  text-align: start;
  color: rgb(181, 181, 181);
}

.user11 {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.nuw {
  color: black;
  margin-left: 2px;
  width: 830px;
  height: 415px;
  margin-bottom: 40px;
  border: 1px solid rgb(181, 181, 181);
}

.nuw1 {
  margin-left: 25px;
  padding-top: 9px;
  padding-bottom: 9px;
}

.line5 {
  margin-left: 25px;
  width: 173px;
  border-bottom: 4px solid black;
}

.line6 {
  margin-top: -3px;
  margin-left: 198px;
  width: 100px;
  border-bottom: 2px solid rgb(181, 181, 181);
}

.nuw_lu {
  margin-left: 25px;
  padding: 0;
  list-style-type: none;
}

.nuw_pisish {
  margin-top: -79px;
  margin-left: 119px;
}

.nuw22 {
  text-decoration: none;
  color: black;
}

.nuw222 {
  font-size: 12px;
  text-decoration: none;
  color: rgb(181, 181, 181);
}

.line7 {
  margin-left: 25px;
  margin-right: 25px;
  border-bottom: 2px solid rgb(181, 181, 181);
}

.line8 {
  color: black;
  border-bottom: 4px solid black;
  margin-left: 25px;
  padding-top: 9px;
  padding-bottom: 9px;
  width: 280px;
}

.iconbloc {
  height: 500px;
  padding-inline-start: 0;
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style-type: none;
}

.cub {
  text-align: center;
  background-position: center;
  color: black;
  background-color: rgb(93, 93, 218);
  width: 90px;
  height: 20px;
  margin-top: 157px;
  position: absolute;
}

.cub1 {
  text-align: center;
  background-position: center;
  color: black;
  background-color: rgb(93, 218, 139);
  width: 80px;
  height: 20px;
  margin-top: 157px;
  position: absolute;
}

.cub2 {
  text-align: center;
  background-position: center;
  color: black;
  background-color: rgb(174, 93, 218);
  width: 90px;
  height: 20px;
  margin-top: 157px;
  position: absolute;
}

.cub3 {
  text-align: center;
  background-position: center;
  color: black;
  background-color: rgb(218, 206, 93);
  width: 120px;
  height: 20px;
  margin-top: 157px;
  position: absolute;
}

.pikch1 {
  color: black;
  text-decoration: none;
}

.pikch11 {
  background-attachment: scroll;
  margin-left: 0px;
  color: rgb(181, 181, 181);
}

.pikch2 {
  color: black;
  text-decoration: none;
}

.pikch3 {
  color: black;
  text-decoration: none;
}

.pikch4 {
  color: black;
  text-decoration: none;
}

.button {
  margin-top: -15px;
  margin-left: 280px;
  line-height: 60px;
  text-align: center;
  display: block;
  background-color: rgb(63, 163, 89);
  color: white;
  width: 250px;
  height: 60px;
  border-radius: 5px;
  text-decoration: none;
}

.button:hover {
  background-color: rgb(46, 123, 67);
}

.conterner5 {
  margin-bottom: 40px;
  margin-left: 2px;
  width: 1196px;
  height: 295px;
  background-color: rgb(215, 212, 212);
}

.line9 {
  color: black;
  margin-left: 25px;
  padding-top: 9px;
  padding-bottom: 9px;
  border-bottom: 4px solid black;
  width: 65px;
}

.img {
  margin-top: 25px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.nuw_nuw {
  height: 415px;
  width: 1220px;
}

.conteiner7 {
  margin-bottom: 40px;
  margin-top: -457px;
  height: 415px;
  margin-left: 846px;
  width: 350px;
  border: 1px solid rgb(181, 181, 181);
}

.line10 {
  padding-top: 9px;
  padding-bottom: 9px;
  margin-left: 25px;
  width: 182px;
  border-bottom: 4px solid black;
}

.line11 {
  margin-top: -3px;
  width: 118px;
  margin-left: 207px;
  border-bottom: 2px solid rgb(181, 181, 181);
}

.text3 {
  margin-bottom: 20px;
  margin-left: 25px;
  columns: rgb(181, 181, 181);
}

.user6 {
  outline: none;
  height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
}

.text4 {
  border-radius: 5px;
  border: 1px solid rgb(181, 181, 181);
  height: 45px;
  color: #212529;
}

.email {
  border-radius: 5px;
  border: 1px solid rgb(181, 181, 181);
  height: 45px;
}

.password {
  border-radius: 5px;
  border: 1px solid rgb(181, 181, 181);
  height: 45px;
}

input:focus {
  background-color: rgb(255, 255, 255);
  border-color: #7c7b7b;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
}

input:hover {
  box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
}

.button5 {
  margin-left: 210px;
  margin-right: 0px;
  border-radius: 5px;
  border: none;
  background-color: rgb(63, 163, 89);
  color: white;
  width: 100px;
  height: 45px;
}

.button5:hover {
  background-color: rgb(46, 123, 67);
}