@font-face{
  font-family: "Roboto1";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"),
  url("../fonts/roboto/Roboto-Regular.woff2"),
  url("../fonts/roboto/Roboto-Regular.woff");
}
@font-face {
  font-family: "Roboto2";
  font-style: normal;
  font-weight: 100;
  src: local("Roboto"),
  url("../fonts/roboto/Roboto-Thin.woff2"),
  url("../fonts/roboto/Roboto-Thin.woff");
}